.bio {
  position: relative;
  line-height: 1.8;
  padding: 0;
  margin-bottom: 20px;

  > h1 {
    font-size: 1.8em;
    padding: 0.3em 0;
  }

  > img {
    position: absolute;
    width: 120px;
    right: 0;
    top: 50%;
    transform: translateY(-48%);
  }

  > ul {
    padding: 5px 0;
    a{
      color: #666666;
      border: none;
    }
    li {
      line-height: 1.5;
    }
  }
}

.education {
  ul {
    list-style: circle;
    padding: 1em 1.5em;

    li {
      line-height: 1.6em;
    }
  }
}

.skills {
  ul {
    list-style: circle;
    padding: 1em 1.5em;

    li {
      line-height: 1.6em;
    }
  }
}

.projects {
  .projectsList {
    li {
      padding: 10px 0;

      &.money {
        > main {
          display: flex;
        }
      }
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
    }
  }

  .barCode {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 12px;

    > span {
      font-size: 12px;
    }

    > img {
      width: 120px;
    }
  }
}

.openSource {
  .openSourceList {
    padding: 10px 0;

    header {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
    }

    li {
      padding: 5px 0;
    }
  }
}

.others {
  ul {
    list-style: circle;
    padding: 1em 1.5em;

    li {
      line-height: 1.6em;
    }
  }
}